* {
	font-family: 'Courier New', Courier, monospace;
	font-size: 100%;
}

#color-yellow {
	color: yellow !important;
}

h1 {
	font-size: 50px;
}

h2 {
	text-transform: uppercase;
}

.bg-green {
	background-color: green;
}

ol[type="1"] li {
	border: 1px solid black;
}

img + ul {
	list-style: none;
}

section img {
	height: 200px;
	width: 200px;
	border-radius: 150px;
}

section ~ p {
	text-align: center;
}

section > ol {
	letter-spacing: 15px;
	list-style: none;
}

/* ol[type="a"] > li {
	border: 1px solid red;
	letter-spacing: 10px;
} */
